<p class="h3">Add a comment</p>

<form id="commentForm" class="my-3">  
    <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea  type="password" class="form-control" id="comment" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" data-postID="{{postID}}">Post Comment</button>
</form>

<script src="../js/comment.js"></script>