<p class="h3">Edit Post</p>

<form id="updatePost" class="my-3">  
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" value="{{post.title}}">
    </div>
    <div class="mb-3">
        <label for="postBody" class="form-label">Post</label>
        <textarea  type="password" class="form-control" id="postBody" rows="5">{{post.body}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" id="deletePost" class="btn btn-danger">Delete</button>
</form>

<script src="../js/edit-post.js"></script>