<p class="h3">Create Post</p>

<form id="postForm" class="my-3">  
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <label for="postBody" class="form-label">Post</label>
        <textarea  type="password" class="form-control" id="postBody" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

<script src="./js/post.js"></script>